
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Urbanist:ital@1&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Urbanist', sans-serif;
}



@tailwind base;
@tailwind components;
@tailwind utilities;
h1 {
  font-family: 'Caveat', cursive;
  font-size: 2.5rem;
}

#gl {
	width: 100vw;
	height: 100vh;
	left: 0;
	top: 0;
	position: absolute;
}

canvas {
	display: block;
}

.container_born {
  background-image: url("/img/pancia.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  & .boxText {
    position: absolute;
    background-color: white;
    padding:30px;
    left: 10%;
    width: 400px;
    
  }

  & .lineTop, & .lineBottom {
    position: absolute;
    width: 1px;
    height: 20vh;
    background-color: WHITE;
    left: calc(10% + 200px);
  } 

  & .lineTop {
    top:0
  }
  & .lineBottom {
    bottom:0
  }
}

.screen {
  position: relative;
  height: 100vh;
  width: 100%;

  background: white;
  animation: fadeOut 1s ease-in forwards;
  animation-delay: 4s;
}

.balls {
  display: flex;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);


}

.ball {
  width: 50px;
  height: 50px;
  
  margin: 0 6px 0 0;
  animation: oscillate 0.7s ease-in-out forwards infinite;
}

.one {
  animation-delay: 0.5s;
}
.two {
  animation-delay: 1s;
}
.three {
  animation-delay: 1.5s;
}

.rotateScreen {
  display: none;
}

@keyframes oscillate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeOut {
from {
  opacity: 1;
}
to {
  opacity: 0;
}
}

@media screen and (max-width: 768px) and (orientation: portrait) {
  .rotateScreen {
    display: none;
  }

  .container_born {
    & .boxText {
      left: 5%;
      width: 90%;
      background-color: rgba(255,255,255,0.9);
    }
    & .lineTop, & .lineBottom {
      left: 50%;
      height: 10vh;
    }
  }
}

@media screen and (max-width: 980px) and (orientation: landscape) {

  .rotateScreen {
    display: flex !important;
    z-index: 9999;
    background-color: black; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    & .cls-1 {
      fill: white;
    }
  }
}


